html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: sans-serif;
  font-weight: bold;
}

body {

}

header p {
  margin: 0 auto;
}

a:hover {
  color: #0074d9;
}
